<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each product}}
                <tr>

                    <td><img style="width: 50px;height:50px" src="/product-images/{{this.oneProduct._id}}.jpg"></td>
                    <td>{{this.oneProduct.name}}</td>
                    <td>{{this.oneProduct.price}}</td>

                    <td>
                        <button class="cart-item-count mr-3 btn-secondary"
                            onclick="changeQuantity('{{this._id}}','{{this.oneProduct._id}}','{{../user._id}}',-1)">-</button>
                        <span id="{{this.oneProduct._id}}">{{this.quantity}}</span>
                        <button class="cart-item-count mr-3 btn-secondary"
                            onclick="changeQuantity('{{this._id}}','{{this.oneProduct._id}}','{{../user._id}}',1)">+</button>
                    </td>
                    <td>
                        <button onclick="removeProduct('{{this._id}}','{{this.oneProduct._id}}')"
                            class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div>
            <h2 class="ml-5 mt-4">Total:Rs.<span id="total">{{totalValue}}</span></h2>
            <a href="/place-order" class="btn btn-success">Place Order</a>

        </div>
    </div>
</section>

<script>
    function changeQuantity(cartId, proId,userId, count) {
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                oneProduct: proId,
                user:userId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product Removed")
                    location.reload()
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML=response.total
                }

            }

        })
    }

</script>
<script>
    function removeProduct(cartId, proId) {
        $.ajax({
            url: '/remove-product',
            data: {
                cart: cartId,
                oneProduct: proId

            },
            method: 'post',
            success: (response) => {
                alert("Product Removed")
                location.reload()
            }
        }
    }
</script>